{% extends "quotesapp/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotesapp:author' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label>Author fullname:
            {{form.fullname}}
        </label>
        <span>{{ form.errors.fullname }}</span>
        <label>Author born date:
            {{form.born_date}}
        </label>
        <span>{{ form.errors.born_date }}</span>
        <label>Author born location:
            {{form.born_location}}
        </label>
        <span>{{ form.errors.born_location }}</span>
        <label>Author biography:
            {{form.bio}}
        </label>
        <span>{{ form.errors.bio }}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

{% endblock %}